.header{
    text-align:center;
    background-color: grey;
    padding-block: 0.8%;
}
.nav{
    text-align:center;
    background-color: grey;
    padding-block: 1.2%;
}
.footer{
    text-align:center;
    background-color: grey;
    padding-block: 1.2%;
}